# Data Science Tools and Ecosystem

In this notebook, we summarize data science tools, libraries, and basic operations.

Some popular Data Science languages are:
1. Python
2. R
3. SQL
4. Julia

Some commonly used Data Science libraries are:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Tool             | Category              |
|------------------|-----------------------|
| Jupyter Notebook | Interactive IDE       |
| RStudio          | IDE                   |
| Apache Spark     | Big Data Processing   |
| TensorFlow       | Deep Learning Library |

Below are examples of evaluating arithmetic expressions.

In [ ]:
(20 + 5) * 4

In [ ]:
minutes = 200
hours = minutes / 60
hours

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- Create tables of tools
- Perform basic arithmetic examples
- Convert units

**Author:** Your Name